.idea/
data/
dataset/

## breaSwinTNet
breaSwinTNet/customized_data/
breaSwinTNet/model/
breaSwinTNet/checkpoint/

## HuggingFace
HuggingFace/model/

## combined_dataset
combined_dataset/data/
combined_dataset/model/

##hair_removal
hair-removal/
