.idea/
raw_data/

## breaSwinTNet
breaSwinTNet/customized_data/
breaSwinTNet/model/
breaSwinTNet/checkpoint/

## HuggingFace
HuggingFace/model/

## combined_dataset
combined_dataset/data/
combined_dataset/model/