.idea/
raw_data/
aug_data/

## breaSwinTNet
breaSwinTNet/customized_data/
breaSwinTNet/model/
breaSwinTNet/checkpoint/

## HuggingFace
HuggingFace/model/model_85_15_split/
HuggingFace/model/model_70_20_10_split/

## combined_dataset
combined_dataset/data/
combined_dataset/model/

